<div class="modal_con">
    <div class="modal_header">
        <h2>물품 정보 (나눔 물품)</h2>
        <button id="modalCloseBtn02" class="btn_none green_borderBtn">
            <img src="/images/X_icon.png">
        </button>
    </div>
    <div class="modal_body">
        <div class="form_wrap">
            <!-- 물품 사진 -->
            <div class="form_request flex_column">
                <label for="물품사진">물품 사진</label>
                <div class="pro_detail">
                    <div class="box_img">
                        <img data-file="" src="" alt="제품 이미지" style="height:200px; width:200px;">
                        <div class="badge">나눔</div>
                    </div>
                </div>
            </div>

            <!-- 제목 / 내용 -->
            <div class="form_request flex_column">
                <h2></h2>
                <p></p>
            </div>

            <!-- 물품 등급 -->
            <div class="form_request">
                <label for="물품등급">물품 등급</label>
                <input class="Auto_input" readonly>
            </div>
        </div>
        <div class="btn_wrap">
            <button type="submit" id="okBtn" class="okBtn" name="okBtn">사용 신청</button>
            <button type="reset" id="modalCancelBtn02" class="modalCancelBtn">닫기</button>
        </div>
    </div>
</div> 
