<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta name="keywords" content="고려대학교, 탄소중립, 자산관리, 탄소중립 자산관리" />
        <meta name="description" content="ESG기반 스마트 캠퍼스 인프라 혁신사업 관련 스마트 자산관리"/>
        <meta name="author" content="고려대학교" /> 

        <!-- 상태바 색상-->
        <meta name="theme-color" content="#0A8467"/>
        <meta name="msapplication-navbutton-color" content="#0A8467" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#0A8467" />

        <!-- 홈화면추가시 주소창 제거 -->
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" /> 
        
        <title>자산관리시스템</title>
        
        <link rel="stylesheet" href="/css/total.css">

        <script src="/js/jquery-3.7.1.min.js"></script>
        <script src="/js/index.js"></script>
    </head>
    <body>
        <!-- skip 네비게이션 영역 -->
        <nav id="skipToContent">
            <ul>
                <li><a href="#container">본문 바로가기</a></li>
                <li><a href="#gnb">주메뉴 바로가기</a></li>
                <li><a href="#header">상위메뉴 바로가기</a></li>
                <li><a href="#footers">하위메뉴 바로가기</a></li>
            </ul> 
        </nav>
        <!-- skip 네비게이션 영역 -->

        <section id="popup_container">
            <div class="popup_header">
                <h2 class="title_txt">반납 신청서</h2>
                <div class="popup_body">
                    <div class="form_wrap">
                        <!-- 제목 -->
                        <div class="form_request">
                            <label for="제목">제목</label>
                            <input id="appr_title" class="Auto_input" placeholder="제목을 입력해주세요." disabled>
                        </div>
                        <!-- 제목 -->

                        <!-- 요청일자 -->
                        <div class="form_request">
                            <label for="요청일자">요청일자</label>
                            <input id="appr_date" class="Auto_input" placeholder="2024-12-25 (자동입력)" disabled>
                        </div>
                        <!-- 요청일자 -->

                        <!-- 물품 목록 -->
                        <div class="form_request">
                            <label for="물품 목록">물품 목록</label>
                            <div id="grid_wrap_fix" class="G_grid form_grid">
                                <!-- grid title -->
                                <div class="grid-container_productList G_grid_item_bg">
                                    <span class="G_grid_item">물품명</span>
                                    <span class="G_grid_item">물품번호</span>
                                    <span class="G_grid_item">건물명</span>
                                    <span class="G_grid_item">호실(번호)</span>
                                    <span class="G_grid_item">취득일자</span>
                                    <span class="G_grid_item">취득금액</span>
                                    <span class="G_grid_item">물품등급</span>
                                </div>
                                <div class="grid-container_productList G_grid_item2_bg">
                                    <span class="G_grid_item2">PIANO</span>
                                    <span class="G_grid_item2">1120030011470001</span>
                                    <span class="G_grid_item2">과학도서관</span>
                                    <span class="G_grid_item2">대강당(508)</span>
                                    <span class="G_grid_item2">2003-08-19</span>
                                    <span class="G_grid_item2">9,980,000</span>
                                    <span class="G_grid_item2">A</span>
                                </div>
                                <div class="grid-container_productList G_grid_item2_bg">
                                    <span class="G_grid_item2">PIANO</span>
                                    <span class="G_grid_item2">1120030011470001</span>
                                    <span class="G_grid_item2">과학도서관</span>
                                    <span class="G_grid_item2">대강당(508)</span>
                                    <span class="G_grid_item2">2003-08-19</span>
                                    <span class="G_grid_item2">9,980,000</span>
                                    <span class="G_grid_item2">A</span>
                                </div>
                                <div class="grid-container_productList G_grid_item2_bg">
                                    <span class="G_grid_item2">PIANO</span>
                                    <span class="G_grid_item2">1120030011470001</span>
                                    <span class="G_grid_item2">과학도서관</span>
                                    <span class="G_grid_item2">대강당(508)</span>
                                    <span class="G_grid_item2">2003-08-19</span>
                                    <span class="G_grid_item2">9,980,000</span>
                                    <span class="G_grid_item2">A</span>
                                </div>
                            </div>
                        </div>
                        <!-- 물품 목록 -->

                        <!-- 내용 -->
                        <div class="form_request">
                            <label for="내용">내용</label>
                            <textarea id="appr_memo" class="Auto_input" placeholder="내용을 입력해주세요." disabled></textarea>
                        </div>
                        <!-- 내용 -->

                        <!-- 결재자 -->
                        <div class="form_request">
                            <div class="staff_inquiry">
                                <label for="결재자">결재자</label>
                            </div>
                            <div class="staff_inquiry_list form_grid">
                                <div class="staff_inquiry_title">
                                    <button id="modalOpenBtn" class="btn_none staff_inquiry_btn">직원조회</button>
                                    <div class="change_btn">
                                        <button class="btn_none employeeLlist_green"></button>
                                        <button class="btn_none employeeLlist_green"></button>
                                    </div>
                                </div>
                                <div id="grid_wrap_appr" class="G_grid ">
                                    <!-- grid title -->
                                    <div class="grid-container_staffList04 G_grid_item_bg notCompleted">
                                        <span class="G_grid_item">No</span>
                                        <span class="G_grid_item">결재자</span>
                                        <span class="G_grid_item">직급</span>
                                        <span class="G_grid_item">부서</span>
                                    </div>
                                    <div class="grid-container_staffList04 G_grid_item2_bg notCompleted">
                                        <span class="G_grid_item2">1</span>
                                        <span class="G_grid_item2">김OO</span>
                                        <span class="G_grid_item2">차장</span>
                                        <span class="G_grid_item2">안전관리팀</span>
                                    </div>
                                    <div class="grid-container_staffList04 G_grid_item2_bg notCompleted">
                                        <span class="G_grid_item2">2</span>
                                        <span class="G_grid_item2">아OO</span>
                                        <span class="G_grid_item2">부장</span>
                                        <span class="G_grid_item2">안전관리팀</span>
                                    </div>
                                    <div class="grid-container_staffList04 G_grid_item2_bg notCompleted">
                                        <span class="G_grid_item2">3</span>
                                        <span class="G_grid_item2">박OO</span>
                                        <span class="G_grid_item2">학장</span>
                                        <span class="G_grid_item2">-</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 담당 행정 직원 -->

                        <!-- popup under btn -->
                        <div class="popup_under_btn">
                            <button class="btn_none green_btn popupCloseBtn" onclick="approvalOne()">확인</button>
                            <button class="btn_none green_border_btn" onclick="rejectionReasons_modal()">반송</button>
                            <button class="btn_none green_border_btn popupCloseBtn" onclick="closePopup()">취소</button>
                        </div>
                        <!-- popup under btn -->
                    </div>
                </div>
            </div>

            <!-- 결재 직원 조회 모달 -->
            <div id="staffInquiryList_modal02" class="modal_container hidden">
                <%-/*교수님 행정 직원 선택 모달*/ include ("./templates/staffInquiryList_modal02") %>
            </div>
            <!-- 결재 직원 조회 모달 -->

            <!-- 반송 사유 작성 모달 -->
            <div id="rejectionReasons_modal" class="modal_container hidden">
                <%-/*교수님 행정 직원 선택 모달*/ include ("./templates/rejectionReasons_modal") %>
            </div>
            <!-- 반송 사유 작성 모달 -->
        </section>
    </body>
    <script>
        // 전역변수 선언 - 승인 여부 플래그 (초기값 false)
        var isApproved = false;
        var appr_no = -1;

        $(document).ready(function() {
            var parameters = getUrlParams();
            appr_no = parameters.apprNo;
            fetchApproval(parameters.apprNo);
        });

        function getUrlParams() {     
            var params = {};  
            window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, 
                function(str, key, value) { 
                    params[key] = value; 
                }
            );     
            return params; 
        }

        function fetchApproval(val_id) {
            let obj = {};
            obj['apprIdx'] = val_id;

            $.ajax({
                url: '/approvalDetail',
                type: "post",
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify(obj),
                success: function(data) {
                    var approval_info = data.approval_info[0];
                    var approver_list = data.approver_list;
                    var fix_info = data.fix_info[0];

                    // 기본 정보 채우기
                    document.getElementById('appr_title').value = approval_info.sApprovalTitle;
                    document.getElementById('appr_memo').value = approval_info.sApprovalReason;
                    if (approval_info.dApprovalDate != null) {
                        document.getElementById('appr_date').value = approval_info.dApprovalDate;
                    }

                    // 물품 목록 갱신
                    $('#grid_wrap_fix').empty();
                    var table_fix = document.getElementById("grid_wrap_fix");

                    let header_fix = document.createElement("div");
                    header_fix.className = "grid-container_productList G_grid_item_bg";
                    ["물품명", "물품번호", "건물명", "호실(번호)", "취득일자", "취득금액", "물품등급"].forEach(function(text) {
                        let span = document.createElement("span");
                        span.className = "G_grid_item";
                        span.appendChild(document.createTextNode(text));
                        header_fix.appendChild(span);
                    });
                    table_fix.appendChild(header_fix);

                    let body_fix = document.createElement("div");
                    body_fix.className = "grid-container_productList G_grid_item2_bg";
                    let formattedDate = fix_info.dFixtureDate ? fix_info.dFixtureDate.substring(0, 10) : "";
                    let rankMapping = { 1: "A", 2: "B", 3: "C", 4: "D" };
                    let formattedRank = rankMapping[fix_info.nReusableRank] || fix_info.nReusableRank;
                    let values = [
                        fix_info.sFixtureName,
                        fix_info.sFixtureNo,
                        fix_info.sReusablePlace,
                        fix_info.sReusableEmail,
                        formattedDate,
                        fix_info.sFixturePrice,
                        formattedRank
                    ];
                    values.forEach(function(val) {
                        let span = document.createElement("span");
                        span.className = "G_grid_item2";
                        span.appendChild(document.createTextNode(val));
                        body_fix.appendChild(span);
                    });
                    table_fix.appendChild(body_fix);

                    // 결재자 리스트 영역 갱신
                    $('#grid_wrap_appr').empty();
                    var table_appr = document.getElementById("grid_wrap_appr");

                    let header_appr = document.createElement("div");
                    header_appr.className = "grid-container_staffList04 G_grid_item_bg";
                    ["No", "결재자", "직급", "부서"].forEach(function(text) {
                        let span = document.createElement("span");
                        span.className = "G_grid_item";
                        span.appendChild(document.createTextNode(text));
                        header_appr.appendChild(span);
                    });
                    table_appr.appendChild(header_appr);

                    // Flag to check if any approver already has nApprState == 1
                    let alreadyApproved = false;

                    for (var i = 0; i < approver_list.length; i++) {
                        // Skip if 결재 순서가 0
                        if (approver_list[i].nApprOrder == 0) {
                            continue;
                        }

                        let body_appr = document.createElement("div");
                        body_appr.className = "grid-container_staffList04 G_grid_item2_bg";

                        // 만약 해당 결재자의 nApprState가 1이면, 회색 음영처리
                        if (approver_list[i].nApprState == 1) {
                            body_appr.style.color = "gray";
                            body_appr.style.opacity = "0.5";
                            alreadyApproved = true;
                        }

                        let orderSpan = document.createElement("span");
                        orderSpan.className = "G_grid_item2";
                        orderSpan.appendChild(document.createTextNode(approver_list[i].nApprOrder));
                        body_appr.appendChild(orderSpan);

                        let nameSpan = document.createElement("span");
                        nameSpan.className = "G_grid_item2";
                        nameSpan.appendChild(document.createTextNode(approver_list[i].sName));
                        body_appr.appendChild(nameSpan);

                        let rankSpan = document.createElement("span");
                        rankSpan.className = "G_grid_item2";
                        // 모든 직급을 "직원"으로 표시
                        rankSpan.appendChild(document.createTextNode("직원"));
                        body_appr.appendChild(rankSpan);

                        let orgSpan = document.createElement("span");
                        orgSpan.className = "G_grid_item2";
                        orgSpan.appendChild(document.createTextNode(approver_list[i].sOrg));
                        body_appr.appendChild(orgSpan);

                        table_appr.appendChild(body_appr);
                    }

                    // 만약 누군가 nApprState가 1이면 승인/반송 버튼을 비활성화하고 isApproved 플래그 업데이트
                    if (alreadyApproved) {
                        isApproved = true;
                        // "취소" 버튼은 제외하고 승인 및 반송 버튼만 disable 처리
                        $(".popup_under_btn .green_btn, .popup_under_btn .green_border_btn")
                            .not(".popupCloseBtn")
                            .prop("disabled", true);
                    }
                }
            });
        }

        // 팝업을 닫는 함수
        function closePopup() {
            window.close(); // 현재 팝업 창을 닫습니다.
        }

        function approvalOne() {
            // 이미 승인 처리가 완료되었으면 알림 후 중단합니다.
            if (isApproved) {
                alert("이미 승인처리를 완료하였습니다");
                return;
            }
            if (!confirm("승인하시겠습니까?")) {
                return;
            }
            var obj = { apprNo: appr_no };

            $.ajax({
                url: '/returnApprovalOne',  // 승인 요청 처리 서버 라우트
                type: "post",
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify(obj),
                success: function(data) {
                    isApproved = true;
                    // 모든 결재자 행을 회색(뿌옇게) 처리합니다.
                    $("#grid_wrap_appr .grid-container_staffList04.G_grid_item2_bg").css({
                        'color': 'gray',
                        'opacity': '0.5'
                    });
                    closePopup();
                },
                error: function(err) {
                    console.error("승인 요청 중 에러 발생: ", err);
                }
            });
        }

        function rejectionReasons_modal() {
            // 이미 승인처리된 경우 반송 버튼 클릭 시 처리하지 않습니다.
            if (isApproved) {
                alert("이미 승인처리를 완료하였습니다");
                return;
            }
            const modal = document.getElementById('rejectionReasons_modal');
            modal.classList.remove('hidden'); // 모달 보이기
        }

        // 모달 열기 함수
        function staffInquiryList_modal() {
            const modal = document.getElementById('staffInquiryList_modal02');
            modal.classList.remove('hidden');
        }
        // 모달 닫기 함수
        function closeModal() {
            const modal = document.getElementById('staffInquiryList_modal02');
            modal.classList.add('hidden');
        }
        function closeModal02() {
            const modal = document.getElementById('rejectionReasons_modal');
            modal.classList.add('hidden');
        }
    </script>
</html>
