<div class="modal_con">
    <div class="modal_header">
        <h2>물품 정보 (재사용 비품)</h2>
        <button id="modalCloseBtn03" class="btn_none green_borderBtn">
            <img src="/images/X_icon.png">
        </button>
    </div>
    <div class="modal_body">
        <div class="form_wrap">
            <!-- 물품 사진 -->
            <div class="form_request flex_column">
                <label for="물품 사진">물품 사진</label>
                <div class="pro_detail">
                    <div class="box_img">
                        <img data-file="" src="" alt="제품 이미지" style="height:200px; width:200px;">
                    </div>
                </div>
            </div>

            <!-- 제목 / 내용 -->
            <div class="form_request flex_column">
                <h2>화이트보드 칠판 120 * 90cm</h2>
                <P>3색 보드마카 펜 포함</P>
            </div>
            <!-- 제목 / 내용 -->

            <!-- 물품 등급 -->
            <div class="form_request">
                <label for="물품 등급">물품 등급</label>
                <input class="Auto_input" readonly>
            </div>
            <!-- 물품 등급 -->
            
            <!-- 비품  -->
            <div class="form_request flex_column">
                <label for="비품">비품</label>
                <div class="fix_flexbetween text">
                    <label for="물품명">물품명(중분류)</label>
                    <input class="Auto_input" readonly>
                </div>
                <div class="fix_flexbetween text">
                    <label for="취득금액">취득금액</label>
                    <input class="Auto_input" readonly>
                </div>
                <div class="fix_flexbetween text">
                    <label for="취득일자">취득일자</label>
                    <input class="Auto_input" readonly>
                </div>
                <div class="fix_flexbetween text">
                    <label for="물품번호">물품번호</label>
                    <input class="Auto_input" readonly>
                </div>
            </div>
            <!-- 비품  -->
        </div>
        <div class="btn_wrap">
            <button type="submit" id="okBtn" class="okBtn" name="okBtn">사용 신청</button>
            <button type="reset" id="modalCancelBtn03" class="modalCancelBtn">닫기</button>
        </div>
    </div>
</div> 
